body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}
/* Set padding to keep content from hitting the edges */
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 18px;
        padding-bottom: 15px;
    }
}

.body-content {
    margin-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 888px;
}

.container {
    width: 100%;
    max-width: 888px;
}

.form-control {
    border: 2px solid #607D8B;
}

.bodycontent {
    line-height: 2em;
    text-align: justify;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
textarea {
    width: 100%;
}

.mycontent {
}

.short {
    max-width: 200px;
    width: 100%;
}

.myTable, footer {
}

div.numberedtextarea-wrapper {
    position: relative;
}

    div.numberedtextarea-wrapper textarea {
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

div.numberedtextarea-line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.55);
    overflow: hidden;
}

div.numberedtextarea-number {
    padding-right: 6px;
    text-align: right;
}

.recent .list-group-item {
    border: none;
    border-bottom: 1px dashed #ccc;
}

h5 {
    font-size: 1.1em;
    color: #0776ce !important;
}

.list-group {
    margin-bottom: 10px;
}
.note-content{
    white-space: pre-wrap;
}
pre {
    padding: 0;
    background: none;
    border: none;
}
